<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生管理系统</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="main">
		<div class="content">
			<h1 class="title">学生信息管理系统</h1>
			<div class="button">
				<a href="/login" class="sbutton">登录</a>
				<a href="/regist" class="sbutton">注册</a>
			</div>
		</div>
	</div>
</body>
</html>